//- index.jade
doctype
html(lang="ru")
  include includes/head.jade
  body
    include includes/header.jade
    include includes/nav.jade
    include includes/slider.jade
    include includes/main.jade
    include includes/footer.jade
  
