//- footer.jade
footer.l-footer
  .l-container
    ul.l-footer_menu.l-footer_menu--primary
      li.l-footer_item
        a.l-footer_menuLink(href="#") Женское
      li.l-footer_item
        a.l-footer_menuLink(href="#") Мужское
      li.l-footer_item
        a.l-footer_menuLink(href="#") Swanetty live
      li.l-footer_item
        a.l-footer_menuLink(href="#") О нас
    ul.l-footer_menu.l-footer_menu--secondary
      li.l-footer_item
        a.l-footer_menuLink(href="#") Возврат
      li.l-footer_item
        a.l-footer_menuLink(href="#") Доставка
      li.l-footer_item
        a.l-footer_menuLink(href="#") Условия оплаты
      li.l-footer_item
        a.l-footer_menuLink(href="#") Правила использования
    form.l-footer_form.m-form
      label.m-form_label Подпишитесь на свежие новости
      input.m-form_input(type="text", placeholder="Введите e-mail")
      input.m-button.m-button--form(type="submit", value="Подписаться")
    .l-footer_social
      p.l-footer_text Присоединяйтесь
      a.l-footer_icon(href="#")
        img(src="img/icons/vk.png", alt="")
      a.l-footer_icon(href="#")
        img(src="img/icons/fb.png", alt="")
      a.l-footer_icon(href="#")
        img(src="img/icons/instagram.png", alt="")
