//- header.jade
header.l-header
  .l-container
    .l-header_social
      a.l-header_icon(href="#")
        img(src="img/icons/vk.png", alt="")
      a.l-header_icon(href="#")
        img(src="img/icons/fb.png", alt="")
      a.l-header_icon(href="#")
        img(src="img/icons/instagram.png", alt="")
    .l-header_logo
      a.l-header_logo--link(href="#")
        img.l-header_logo--img(src="img/icons/swty-logo.png", alt="")
    .l-header_acc
      a.l-header_icon--search(href="#")
        img(src="img/icons/search.png", alt="")
      a.l-header_icon--person(href="#")
        img(src="img/icons/person.png", alt="")
      a.l-header_cart(href="#") 2 товара
