//- nav.jade
nav.l-nav
  .l-container
    ul.l-nav_menu
      li.l-nav_item
        a.l-nav_link(href="#") Женское
      li.l-nav_item
        a.l-nav_link(href="#") Мужское
      li.l-nav_item
        a.l-nav_link(href="#") Swanetty live
      li.l-nav_item
        a.l-nav_link(href="#") О нас
