//- slider.jade
.l-slider
  .l-container
    .l-slider_item.l-slider_item--left
      a.l-slider_button.m-button.m-button--slider(href="#") Мужское
    .l-slider_item.l-slider_item--right
      a.l-slider_button.m-button.m-button--slider(href="#") Женское
